# Virtual Environment
venv/
env/
.env
.venv
.venv/


# Generated Data & Database
DATASETS_*
*Zone.Identifier*

# Python Bytecode
__pycache__/
*.pyc

# IDE & System
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/

git_analysis_output_*
DATASETS/